<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/shared.css">
    <link rel="stylesheet" href="/public/styles/counselor.css">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <img height="40" src="/public/images/homewardlogo.png" alt="homeward logo">
        <img width="40" id="menu" src="/public/images/menu.svg" alt="navigation bar menu button">
        <ul id="navbar">
            <li><a href="/public/index.html" class="hover-effectnav">HOME</a></li>
            <li><a href="/public/resources.html" class="hover-effectnav">GET HELP</a></li>
            <li><a href="/public/about.html" class="hover-effectnav">ABOUT</a></li>
            <li><a href="/public/contact.html" class="hover-effectnav">CONTACT</a></li>
        </ul>
        <a id="volunteer-btn" href="volunteer.html">VOLUNTEER</a>
    </header>
    <nav id="side-nav">
        <div id="ribbon"><img width="30" src="/public/images/close.svg" alt="close menu button"></div>
        <ul id="side-navbar">
            <li><a href="../public/index.html" class="hover-effectnav">HOME</a></li>
            <li><a href="../public/resources.html" class="hover-effectnav">GET HELP</a></li>
            <li><a href="../public/about.html" class="hover-effectnav">ABOUT</a></li>
            <li><a href="../public/contact.html" class="hover-effectnav">CONTACT</a></li>
            <li><a id="side-volunteer-btn" href="volunteer.html">VOLUNTEER</a></li>
        </ul>
    </nav>
    <div class="placeholder"></div>
    <main class="counselor-container">
        <section class="counselor-section">
            <form id="form">
                <input id="zip" type="text" placeholder="ZIP CODE" pattern="[0-9]{5}"
                    oninvalid="setCustomValidity('Please enter a 5 digit zip code')" oninput="setCustomValidity('')"
                    required />
                <select id="radius" placeholder="RADIUS">
                    <option value="5">5 Miles</option>
                    <option value="10">10 Miles</option>
                    <option value="15">15 Miles</option>
                    <option value="20">20 Miles</option>
                    <option value="50" selected>50 Miles</option>
                </select>
                <input id="submit" type="submit" value="Go" />
            </form>
            <hr>
            <p class="searchres">{{ len }} search results:</p>
            <p class="searchres"><em>Please choose a counselor at your best convencience.</em></p>
            {{#each this}}
            {{#if agcid}}
            <section class="counselor-choice">
                <h1>{{nme}}</h1>
                <p class="desc">{{phone1}}</p>
                <p class="desc">{{languages}}</p>
                <div class="title-container">
                    <img src="/public/images/pin.svg" alt="Map icon">
                    <p class="title">ADDRESS: </p>
                </div>
                <p>{{adr1}}, {{mailingcity}}, {{state_NME}} {{mailingzipcd}}</p>
                <div class="title-container">
                    <img src="/public/images/globe.svg" alt="Globe icon">
                    <p class="title">WEBSITE:</p>
                </div>
                <a class="link" href="{{weburl}}" target="_blank">{{weburl}}</a>
            </section>
            {{else}}{{/if}}
            {{/each}}
        </section>
        <section class="counselor-map" id="map">

        </section>
    </main>
    <footer class="footer">
        <section class="footer-contact">
            <img src="/public/images/homewardlogo.png" alt="HomeWard Logo">
        </section>
        <section class="footer-content">
            <ul>
                <li class="footer-content-header">Social</li>
                <li><a href="https://instagram.com" class="hover-effect">Instagram</a></li>
                <li><a href="https://twitter.com" class="hover-effect">Twitter</a></li>
                <li><a href="https://www.facebook.com" class="hover-effect">Facebook</a></li>
                <li><a href="https://www.youtube.com" class="hover-effect">Youtube</a></li>
            </ul>
            <ul>
                <li class="footer-content-header">Company</li>
                <li><a href="about.html" class="hover-effect">About</a></li>
                <li><a href="resources.html" class="hover-effect">Resources</a></li>
                <li><a href="volunteer.html" class="hover-effect">Volunteer With Us</a></li>
                <li><a href="contact.html" class="hover-effect">Contact Us</a></li>
            </ul>
        </section>
        <section class="footer-legal">
            <p>© 2024 HomeWard</p>
            <ul class="footer-legal-container">
                <a>
                    <li>Privacy Policy</li>
                </a>
                <a>
                    <li>Press Information</li>
                </a>
                <a>
                    <li>Language</li>
                </a>
            </ul>
        </section>
    </footer>
</body>
<script src="/public/scripts/index.js"></script>
<script src="/public/scripts/inputhandler.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgAhCPbNjviOE0NapTIt_5lQxRG3GkSRI
&map_ids=123014699cdb1245 
&callback=initMap"></script>

</html>