<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/shared.css">
    <link rel="stylesheet" href="/public/styles/counselor.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <img height="40" src="/public/images/homewardlogo.png" alt="homeward logo">
        <img width="40" id="menu" src="/public/images/menu.svg" alt="navigation bar menu button">
        <ul id="navbar">
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="volunteer.html">GET INVOLVED</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
        <a id="volunteer-btn" href="volunteer.html">VOLUNTEER</a>
    </header>
    <nav id="side-nav">
        <div id="ribbon"><img width="30" src="/public/images/close.svg" alt="close menu button"></div>
        <ul id="side-navbar">
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="volunteer.html">GET INVOLVED</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a id="side-volunteer-btn" href="volunteer.html">VOLUNTEER</a></li>
        </ul>
    </nav>
    <div class="placeholder"></div>
    <main class="counselor-container">
        <section class="counselor-section">
            <form onsubmit="getCounselor()">
                <input id="zip" type="text" placeholder="ZIP CODE" pattern="[0-9]{5}" 
                    oninvalid="setCustomValidity('Please enter a 5 digit zip code')"
                    oninput="setCustomValidity('')" required/>
                <select id="radius" placeholder="RADIUS">
                    <option value="5">5 Miles</option>
                    <option value="10">10 Miles</option>
                    <option value="15">15 Miles</option>
                    <option value="20">20 Miles</option>
                    <option value="50">50 Miles</option>
                </select>
                <input id="submit" type="submit" value="Go"/>
            </form>
            <hr>
            <p>10 search results:</p>
            <p><em>Please choose a counselor at your best convencience.</em></p>
            <section class="counselor-choice">
                <h1>{{counselorData.0.nme}}</h1>
                <p>DESCRIPTION</p>
                <p>MORE DESCRIPTION</p>
                <div class="title-container">
                    <img src="/public/images/pin.svg" alt="Map icon">
                    <p class="title">ADDRESS:</p>
                </div>
                <p>{{counselorData.0.adr1}}, {{counselorData.0.mailingcity}}, {{counselorData.0.state_NME}} {{counselorData.0.mailingzipcd}}</p>
                <div class="title-container">
                    <img src="/public/images/globe.svg" alt="Globe icon">
                    <p class="title">WEBSITE:</p>
                </div>
                <p>{{counselorData.0.weburl}}</p>
            </section>
            
            
        </section>
        <section class="counselor-map">

        </section>
    </main>
</body>
<script src="/public/scripts/index.js"></script>
</html>